@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #f7f7f7;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
  }

  .wrapper{
   width: 500px;
   margin: 20% auto;
   margin-top: 2%;
   padding-bottom: 30px;
  }

  @media screen and (max-width: 768px) {
    .wrapper{
      width: 350px;
     }
  }

  @media screen and (max-width: 414px) {
    .wrapper{
      width: 300px;
    }
  }

  /***************/

/*  HEADER STYLING*/

.header_container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 30%;
    width: 70%;
    padding: 10px;
    background-color: gray;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

/***************/


/* ADD TASK STYLING */

.addtaskContainer{
  margin-left: 30%;
  border: 1px solid #b5b2b1;
  padding-bottom: 20px;
  background-color: #b5b2b1;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}


.add_input_wrapper{
  margin-top: 10px;
  margin-left: 10px;
}

.addinput{
  height: 100%;
  width: 95%;
  padding: 5px;
  font-size: 17px;
  color: black;
  border-color: black;
  cursor: text;
  border-radius: 5px;
  outline: none;
}

.add_date_wrapper{
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  justify-content: space-between;
  width: 80%;
}

.add_options{
  margin-top: 10px;
  margin-left: 10px;  
}

.add_select{
  height: 100%;
  width: 50%;
  font-size: 17px;
  color: black;
  border-color: black;
  cursor: pointer;
  border-radius: 5px;
}

.add_save{
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding-left: 70%;
}

.add_span{
  border: 2px solid green;
  padding: 7px;
  background-color: green;
  color: white;
  border-radius: 5px;
  cursor: default;
}

.add_span:hover{
  background-color: black;
  border: 2px solid black;
}

@media screen and (max-width: 768px) {
  .add_date_wrapper{
    justify-content: space-between;
    width: 90%;
  }
  .add_select{
    width: 70%;
  }
  .add_save{
    width: 10%;
  }

}


/***************/


/**** EDIT TASK STYLING  *****/

.edittask_container{
  margin-left: 30%;
  border: 1px solid #b5b2b1;
  padding-bottom: 20px;
  background-color: #b5b2b1;
  margin-top: 2%;
  border-radius: 15%;
}

.editbtn{
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding-left: 60%;
  padding-top: 5%;
}

.edit_save{
 padding: 5px;
 background-color: green;
 border-radius: 5px;
}

@media screen and (max-width: 412px) {
 .edit_save{
  margin-right: -70%;
 }

}

@media screen and (max-width: 768px) {
  .editbtn{
    width: 10%;
  }
}


/***************/

/*  TASK INFOR STYLING*/

.taskinfor_wrapper{
  margin-left: 30%;
  margin-top: 10%;
  border: 1px solid ;
  padding: 5px;
  border-radius: 7%;
  color: rgb(36, 34, 34);
  background: white;
  box-shadow: 5px 10px 8px #888888;
}

@media screen and (max-width: 414px) {
  .taskinfor_wrapper{
    font-size: 10px;
  }

}




/***************/

